<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <aside class="sidebar position-fixed top-0 left-0 overflow-auto h-100 float-left" id="show-side-navigation1">
        <i class="uil-bars close-aside d-md-none d-lg-none" data-close="show-side-navigation1"></i>
        <div class="sidebar-header d-flex justify-content-center align-items-center px-3 py-4">
          <img
               class="rounded-pill img-fluid"
               width="65"
               src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907008/medium/1501685726/enhance"
               alt="">
          <div class="ms-2">
            <h5 class="fs-6 mb-0">
              <a class="text-decoration-none" href="#">Jone Doe</a>
            </h5>
            <p class="mt-1 mb-0">Lorem ipsum dolor sit amet consectetur.</p>
          </div>
        </div>
      
        <div class="search position-relative text-center px-4 py-3 mt-2">
          <input type="text" class="form-control w-100 border-0 " placeholder="Search here" >
          <i class="fa fa-search position-absolute d-block fs-6"></i>
        </div>
        <ul class="sidebar-dropdown list-unstyled">
            <li><a href="#dash"> Dashboard</a></li>
            <li><a href="#section1">TO-DO</a></li>
            <li><a href="#section2">REMINDER</a></li>
            <li><a href="#weather">WEATHER</a></li>
            
          </ul>
         
      </aside>
      
      <section id="wrapper">
        <nav class="navbar navbar-expand-md" id="dash">
          <div class="container-fluid mx-2">
            <div class="navbar-header">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggle-navbar" aria-controls="toggle-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <i class="uil-bars text-white"></i>
              </button>
              <a class="navbar-brand" href="#">admin<span class="main-color">kit</span></a>
            </div>
            <div class="collapse navbar-collapse" id="toggle-navbar">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Settings
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                      <a class="dropdown-item" href="#">My account</a>
                    </li>
                    <li><a class="dropdown-item" href="#">My inbox</a>
                    </li>
                    <li><a class="dropdown-item" href="#">Help</a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Log out</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="uil-comments-alt"></i><span>23</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="uil-bell"></i><span>98</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <i data-show="show-side-navigation1" class="uil-bars show-side-btn"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      
        <div class="p-4" >
          <div class="welcome">
            <div class="content rounded-3 p-3">
              <h1 class="fs-3">Welcome to Dashboard</h1>
              <p class="mb-0">Hello Jone Doe, welcome to your awesome dashboard!</p>
            </div>
          </div>
      
          <section class="statistics mt-4">
            <div class="row">
              <div class="col-lg-4">
                <div class="box d-flex rounded-2 align-items-center mb-4 mb-lg-0 p-3">
                  <i class="uil-envelope-shield fs-2 text-center bg-primary rounded-circle"></i>
                  <div class="ms-3">
                    <div class="d-flex align-items-center">
                      <h3 class="mb-0">1,245</h3> <span class="d-block ms-2">Emails</span>
                    </div>
                    <p class="fs-normal mb-0">Lorem ipsum dolor sit amet</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="box d-flex rounded-2 align-items-center mb-4 mb-lg-0 p-3">
                  <i class="uil-file fs-2 text-center bg-danger rounded-circle"></i>
                  <div class="ms-3">
                    <div class="d-flex align-items-center">
                      <h3 class="mb-0">34</h3> <span class="d-block ms-2">Projects</span>
                    </div>
                    <p class="fs-normal mb-0">Lorem ipsum dolor sit amet</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="box d-flex rounded-2 align-items-center p-3">
                  <i class="uil-users-alt fs-2 text-center bg-success rounded-circle"></i>
                  <div class="ms-3">
                    <div class="d-flex align-items-center">
                      <h3 class="mb-0">5,245</h3> <span class="d-block ms-2">Users</span>
                    </div>
                    <p class="fs-normal mb-0">Lorem ipsum dolor sit amet</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
      
          <section class="charts mt-4" id="section1">
            <div class="row">
              <div class="col-lg-15">
                <div class="chart-container rounded-2 p-3">
                  <h3 class="fs-6 mb-3">TO-DO LIST</h3>
                  <form method="post" action="{% url 'todo_data' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label" style="color:white">Add Task</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Task name" name="task">
                        {% comment %} <label for="date"  class="form-label" style="color:white">Select a Date</label> {% endcomment %}
                        <input type="hidden" class="form-control" id="date" name="date" min="yyyy-mm-dd" name="date" >
                        <button type="submit" class="btn btn-primary" style="margin-top:10px">Add</button>
                      </div>
                  </form>
                  
                    <table class="table table-dark table-striped">
                        <thead>
                        <tr>
                            <th>sl.no</th>
                            <th>Task name</th>
                            <th>Date</th> 
                            <th>Delete</th> 
                        </tr>
                        </thead>
                        <tbody>
                            {% for i in todos %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{i.task_name}}</td>
                                <td>{{i.date}}</td>
                                <td>
                                    <form action="{% url 'todo_delete' dataid=i.id  %}">
                                        <button type="submit" class="btn btn-danger mr-2">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                  
                  
                  <canvas id="myChart"></canvas>
                </div>
              </div>
            
            </div>
          </section>
          <section class="charts mt-4" id="section2">
            <div class="row">
              <div class="col-lg-15">
                <div class="chart-container rounded-2 p-3">
                  <h3 class="fs-6 mb-3">REMINDER</h3>
                  <form id="reminderForm" method="post" action="{% url 'reminder_add' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label for="reminderName" class="form-label" style="color: white;">Reminder Name</label>
                      <input type="text" class="form-control" id="reminderName" name="reminderName" required placeholder="Reminder name">
                    </div>
                    <div class="mb-3">
                      <label for="date" class="form-label" style="color: white;">Date</label>
                      <input type="date" class="form-control" id="date" name="date" required>
                    </div>
                    <div class="mb-3">
                      <label for="time" class="form-label" style="color: white;">Time</label>
                      <input type="time" class="form-control" id="time" name="time" required>
                    </div>
                    <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Add Reminder</button>
                  </form><br>
                  <table class="table table-dark table-striped " >
                    <thead>
                    <tr>
                        <th>sl.no</th>
                        <th>Reminder</th>
                        <th>Date</th> 
                        <th>Time</th> 
                        <th>Delete</th> 
                    </tr>
                    </thead>
                    <tbody>
                        {% for i in rem %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{i.reminder_name}}</td>
                            <td>{{i.date}}</td>
                            <td>{{i.time}}</td>
                        
                            <td>
                                <form action="{% url 'reminder_delete' dataid=i.id %}">
                                    <button type="submit" class="btn btn-danger mr-2">Delete</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                  <canvas id="myChart"></canvas>
                </div>
              </div>
            </div>
          </section>
          

          <section class="charts mt-4" id="weather">
            <div class="row">
              <div class="col-lg-15">
                <div class="chart-container rounded-2 p-3">
                  <h3 class="fs-6 mb-3">Weather</h3>
                  
                  {% if weather %}
                  <p style="color:white">City: {{ weather.city }}</p>
                  <p style="color:white">Temperature: {{ weather.temperature }}°C</p>
                  <p style="color:white">Description: {{ weather.description }}</p>
                  <img src="http://openweathermap.org/img/wn/{{ weather.icon }}.png" alt="Weather Icon">
                  {% endif %}
                  
                  <form method="post" action="{% url 'get_weather' %}">
                      {% csrf_token %}
                      <label for="city" style="color:white">Enter City:</label>
                      <input type="text" name="city" required  > 
                      <button type="submit" class="btn btn-success mr-2">Get Weather</button>
                  </form>
                 
                  <canvas id="myChart"></canvas>
                </div>
              </div>
            </div>
          </section>
          
          
      
          <section class="admins mt-4">
            <div class="row">
              <div class="col-md-6">
                <div class="box">
                  <!-- <h4>Admins:</h4> -->
                  <div class="admin d-flex align-items-center rounded-2 p-3 mb-4">
                    <div class="img">
                      <img class="img-fluid rounded-pill"
                           width="75" height="75"
                           src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148906966/small/1501685402/enhance"
                           alt="admin">
                    </div>
                    <div class="ms-3">
                      <h3 class="fs-5 mb-1">Joge Lucky</h3>
                      <p class="mb-0">Lorem ipsum dolor sit amet consectetur elit.</p>
                    </div>
                  </div>
                  <div class="admin d-flex align-items-center rounded-2 p-3 mb-4">
                    <div class="img">
                      <img class="img-fluid rounded-pill"
                           width="75" height="75"
                           src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907137/small/1501685404/enhance"
                           alt="admin">
                    </div>
                    <div class="ms-3">
                      <h3 class="fs-5 mb-1">Joge Lucky</h3>
                      <p class="mb-0">Lorem ipsum dolor sit amet consectetur elit.</p>
                    </div>
                  </div>
                  <div class="admin d-flex align-items-center rounded-2 p-3">
                    <div class="img">
                      <img class="img-fluid rounded-pill"
                           width="75" height="75"
                           src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907019/small/1501685403/enhance"
                           alt="admin">
                    </div>
                    <div class="ms-3">
                      <h3 class="fs-5 mb-1">Joge Lucky</h3>
                      <p class="mb-0">Lorem ipsum dolor sit amet consectetur elit.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="box">
                  <!-- <h4>Moderators:</h4> -->
                  <div class="admin d-flex align-items-center rounded-2 p-3 mb-4">
                    <div class="img">
                      <img class="img-fluid rounded-pill"
                           width="75" height="75"
                           src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907114/small/1501685404/enhance"
                           alt="admin">
                    </div>
                    <div class="ms-3">
                      <h3 class="fs-5 mb-1">Joge Lucky</h3>
                      <p class="mb-0">Lorem ipsum dolor sit amet consectetur elit.</p>
                    </div>
                  </div>
                  <div class="admin d-flex align-items-center rounded-2 p-3 mb-4">
                    <div class="img">
                      <img class="img-fluid rounded-pill"
                           width="75" height="75"
                           src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907086/small/1501685404/enhance"
                           alt="admin">
                    </div>
                    <div class="ms-3">
                      <h3 class="fs-5 mb-1">Joge Lucky</h3>
                      <p class="mb-0">Lorem ipsum dolor sit amet consectetur elit.</p>
                    </div>
                  </div>
                  <div class="admin d-flex align-items-center rounded-2 p-3">
                    <div class="img">
                      <img class="img-fluid rounded-pill"
                           width="75" height="75"
                           src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907008/medium/1501685726/enhance"
                           alt="admin">
                    </div>
                    <div class="ms-3">
                      <h3 class="fs-5 mb-1">Joge Lucky</h3>
                      <p class="mb-0">Lorem ipsum dolor sit amet consectetur elit.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
      
          <section class="statis mt-4 text-center">
            <div class="row">
              <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                <div class="box bg-primary p-3">
                  <i class="uil-eye"></i>
                  <h3>5,154</h3>
                  <p class="lead">Page views</p>
                </div>
              </div>
              <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                <div class="box bg-danger p-3">
                  <i class="uil-user"></i>
                  <h3>245</h3>
                  <p class="lead">User registered</p>
                </div>
              </div>
              <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                <div class="box bg-warning p-3">
                  <i class="uil-shopping-cart"></i>
                  <h3>5,154</h3>
                  <p class="lead">Product sales</p>
                </div>
              </div>
              <div class="col-md-6 col-lg-3">
                <div class="box bg-success p-3">
                  <i class="uil-feedback"></i>
                  <h3>5,154</h3>
                  <p class="lead">Transactions</p>
                </div>
              </div>
            </div>
          </section>
      
          <section class="charts mt-4">
            <div class="chart-container p-3">
              <h3 class="fs-6 mb-3">Chart title number three</h3>
              <div style="height: 300px">
                <canvas id="chart3" width="100%"></canvas>
              </div>
            </div>
          </section>
        </div>
      </section>
      
<script>
        document.getElementById('reminderForm').addEventListener('submit', function(event) {
            const currentDate = new Date();
            const selectedDate = new Date(document.getElementById('reminderDate').value);

            if (selectedDate < currentDate) {
                event.preventDefault();
                alert('Please select a future date for your reminder.');
            }
        });
    </script>
    <script>
        // Get the current date in yyyy-mm-dd format
        const today = new Date().toISOString().split('T')[0];
        
        // Set the minimum date to today
        document.getElementById('date').min = today;
      </script>
      
      
      
      <script src="{% static 'js/dashboard.js' %}" ></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>